
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control-lg{
  color: #17a2b8;
  border-color: #17a2b8;
}

a {
  color:white;
}
/* FOOTER */
ul li a {
  transition: .5s;
}
ul li a:hover {
  color: #17a2b8;
  text-shadow: 0 0 5px #17a2b8;
}
.ih-item.circle {
  left:20%;
}
#bannerTitle, header.masthead .overlay {
  transition: 1s;
}

tbody tr:hover {
  background-color: whitesmoke;
  box-shadow: 0px 1px 10px 0px #17a2b8;
  cursor: pointer;
}