{% extends 'general/main.html'%}

{% block content %}
    {% for msg in messages %}
        {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div id='{{msg}}' class="text-center alert alert-success alert-dismissible fade show">
        {% elif msg.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div id='{{msg}}' class="text-center alert alert-warning alert-dismissible fade show">
        {% elif msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div id='{{msg}}' class="text-center alert alert-danger alert-dismissible fade show">
        {% endif %}
            <strong>{{msg}}</strong>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endfor %}
<div class="row" style="padding-top: 2em; padding-bottom: 20px;" >
    <div class="col-md-10 col-lg-10 col-xl-10 mx-auto" style="left: 8%;">
    <form id="searchForm" method="post" action="/result/">{% csrf_token %}
        <div class="form-row" >
            <div class="btn-group col-md-8 col-lg-8 col-xl-8 mb-8 mb-md-0">
                <input name="bannerSearch" id="bannerSearch" type="search" class="form-control form-control-lg" placeholder="機構名稱 / 類型">
            </div>
            <!--Search Button -->
            <div class="btn-group col-md-2 col-lg-2 col-xl-2 mb-2 mb-md-0">
                <button type="submit" class="btn btn-lg btn-info">搜尋</button>
            </div>
        </div>
    </form>
</div>
</div>
<section id="scoreAndCommentSection"
    data-style="btn-outline-info"
    style="width: 70%; padding-top:1em; padding-bottom: 0.5em; display: table;margin-left: 16%;">
    <!-- Testimonials -->
    {% include './component/circleBoxes.html'%}
    
    <!-- Icons Grid -->
    {% include './component/comments.html'%}
</section>
<section id="organizationDetailSection"
    data-style="btn-outline-info"
    style="width: 70%; padding-bottom: 2em; display: table;margin-left: 16%;">
    
    <!-- Organization Detail -->
    {% include './component/descriptionBox.html'%}
</section>
{% endblock content %} 


{% block contentJs%}
<script>
    $(document).ready(function () {
        
        var countries = [
            {% for item in organizations %}
                "{{item.name}}",
            {% endfor %}
        ];
        autocomplete(document.getElementById("bannerSearch"), countries);
    });

    $(document).on('click', '.comment-delete', function () {
        var cmtId = $(this).attr("id");
        $("#confirmDeleteModal").attr("comment-id", cmtId);
        $(".modal-comment").text($(".comment-comments-"+cmtId +" p").html());
    });

    $(document).on('click', '#confirmDeleteButtonModal', function () {
      $('#commentsSection').parent().append('<div class="loader text-center" style="color:red;"></div>').append('<div class="loader-text text-center" style="color:red;">稍等片刻...</div>')
        var cmtId = $("#confirmDeleteButtonModal").closest(".modal").attr("comment-id");
        //alert(cmtId);
        $.ajax({
            type: "POST",
            url: "{% url 'deleteComment' %}",
            data: { 'cmtId': cmtId, 'orgId':'{{organization.id}}'},
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
        success: function(response){
            //alert(response.success);
            $('#comment-row-'+cmtId).remove();
            //window.location.href = '/detail/{{organization.id}}'
            },
        complete : function(response){
            //alert(response.success);
            $('.loader, .loader-text').remove();
            }
        });
    });
   </script>

{% endblock contentJs%}