{% extends 'general/main.html'%}
{% block otherCSS %}
<style>

.disableIcon {
    border-radius: 50%;
    color: #dc3545;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}
.disableIcon:hover {
    color: #dc3545;
    cursor: text;
    text-decoration: none;
}
</style>
{% endblock otherCSS %}
{% block content %}
    {% for msg in messages %}
        {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div id='{{msg}}' class="text-center alert alert-success alert-dismissible fade show">
        {% elif msg.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div id='{{msg}}' class="text-center alert alert-warning alert-dismissible fade show">
        {% elif msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div id='{{msg}}' class="text-center alert alert-danger alert-dismissible fade show">
        {% endif %}
            <strong>{{msg}}</strong>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endfor %}
    

    <div class="row" style="padding-top: 2em; padding-bottom: 20px;" >
        <div class="col-md-10 col-lg-10 col-xl-10 mx-auto" style="left: 8%;">
           
        </div>
    </div>
<section id="scoreAndCommentSection"
    data-style="btn-outline-info"
    style="width: 70%; padding-top:1em; padding-bottom: 0.5em; display: table;margin-left: 16%;">
    <!-- Testimonials -->
    {% include './component/circleBoxes.html'%}
    
    <!-- Icons Grid -->
    {% include './component/comments.html'%}
</section>
<section id="organizationDetailSection"
    data-style="btn-outline-info"
    style="width: 70%; padding-bottom: 2em; display: table;margin-left: 16%;">
    
    <!-- Organization Detail -->
    {% include './component/descriptionBox.html'%}
</section>
<div class="container" style="padding-bottom: 2em;">
    <nav style="border-radius: 0.75em; box-shadow: 3px 3px 5px gray;" class="navbar navbar-expand-lg navbar-dark bg-dark col-xl-12">
        <a style="margin: auto; padding-top: 0px; padding-bottom: 0px;word-break: break-word;white-space: break-spaces;" class="navbar-brand col-xl-4 mb-2 mx-auto">要看看其他的機構分享嗎？</a>
        <div class="col-xl-8 mx-auto">
            <form id="searchForm" method="post" action="/result/">{% csrf_token %}
                <div class="form-row">
                  <div class="btn-group col-xl-8 mb-2">
                       <input name="bannerSearch" id="bannerSearch" type="search" class="form-control form-control-lg" placeholder="機構名稱 / 類型">
                      </div>
                  <!--Send mail Button -->
                  <div class="btn-group col-xl-2 mb-2 mx-auto">
                    <button type="submit" class="btn btn-lg btn-info">搜尋</button>
                  </div>
                </div>
            </form>
        </div>
    </nav>
  </div>

  
{% endblock content %} 


{% block contentJs%}
<script>
    $(document).ready(function () {
        
        var countries = [
            {% for item in organizations %}
                "{{item.name}}",
            {% endfor %}
        ];
        autocomplete(document.getElementById("bannerSearch"), countries);
       
    });

    $(document).on('click', '.comment-delete', function () {
        let cmtId = $(this).attr("id");
        $("#confirmDeleteModal").attr("comment-id", cmtId);
        $(".modal-comment").text($(".comment-comments-"+cmtId +" p").html());
    });

    $(document).on('click', '#confirmDeleteButtonModal', function () {
      $('#commentsSection').parent().append('<div class="loader text-center" style="color:red;"></div>').append('<div class="loader-text text-center" style="color:red;">稍等片刻...</div>')
      let cmtId = $("#confirmDeleteButtonModal").closest(".modal").attr("comment-id");
        //alert(cmtId);
        $.ajax({
            type: "POST",
            url: "{% url 'deleteComment' %}",
            data: { 'cmtId': cmtId, 'orgId':'{{organization.id}}'},
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
        success: function(response){
            //alert(response.success);
            $('#comment-row-'+cmtId).remove();
            //window.location.href = '/detail/{{organization.id}}'
            },
        complete : function(response){
            //alert(response.success);
            $('.loader, .loader-text').remove();
            }
        });
    });

    $(".votes_radio input:radio").change(function (e) {
      $('#commentsSection').parent().append('<div class="loader text-center" style="color:#17a2b8;"></div>').append('<div class="loader-text text-center" style="color:#17a2b8;">稍等片刻...</div>')
        var cmtId = $(this).attr("id").split('_')[2];
        var oldValue = $('#votes_radio_'+ cmtId).attr("old");
        var voteValue = $(this).attr('class').split(" ")[1].split('_')[1]; //agree, neutral, disagree
        if (oldValue != voteValue){
            var className = oldValue == 'agree' ? 'info' : oldValue == 'neutral' ? 'secondary': 'danger';
            $('#votes_'+oldValue+'_label_'+ cmtId).removeClass('btn-'+className).addClass('btn-outline-'+className);
            $('#votes_'+oldValue+'_totalCount_'+ cmtId).html((parseInt($('#votes_'+oldValue+'_totalCount_'+ cmtId).html(), 10)-1).toString())
            $('#votes_'+voteValue+'_totalCount_'+ cmtId).html((parseInt($('#votes_'+voteValue+'_totalCount_'+ cmtId).html(), 10)+1).toString())
            $('#votes_radio_'+ cmtId).attr('old', voteValue);
        }
        $('#votes_input_'+cmtId).val(voteValue);
        //console.log('cmtId: '+ cmtId)
        //console.log('#votes_input_'+cmtId+': '+ $('#votes_input_'+cmtId).val())
        $('.loader, .loader-text').remove();
        $.ajax({
            type: "POST",
            url: "{% url 'updateCommentVote' %}",
            data: { 'cmtId': cmtId, 'voteValue': voteValue},
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
        success: function(response){
            $('#votes_agree_totalCount_'+ cmtId).html(response.agreeCount);
            $('#votes_neutral_totalCount_'+ cmtId).html(response.neutralCount);
            $('#votes_disagree_totalCount_'+ cmtId).html(response.disagreeCount);
            //alert(response.success);
            //************TODO - UPDATE COUNT, COUNT GET FROM JSON REPSONSE*************
            //window.location.href = '/detail/{{organization.id}}'
            },
        complete : function(response){
            //alert(response.success);
            }
        });
    });
    
    $(".votes_input").each(function() {
            var val = $(this).val();
            var cmtId = $(this).attr("id").split('_')[2];
            $('#votes_radio_'+ cmtId).attr('old', val);
            if (val == 'neutral')
                $('#votes_neutral_label_'+ cmtId).removeClass('btn-outline-secondary').addClass('btn-secondary');
            else if (val == 'agree')
                $('#votes_agree_label_'+ cmtId).removeClass('btn-outline-info').addClass('btn-info');
            else if (val == 'disagree')
                $('#votes_disagree_label_'+ cmtId).removeClass('btn-outline-danger').addClass('btn-danger');
        });
   </script>

{% endblock contentJs%}