{% extends 'general/main.html'%}

{% block content %}

    <!-- Testimonials -->
    {% include './component/circleBoxes.html'%}
    
    <!-- Icons Grid -->
    {% include './component/descriptionBox.html'%}

    <!-- Icons Grid -->
    {% include './component/comments.html'%}

{% endblock %} 


{% block contentJs%}
<script>
    $(document).ready(function () {
        $('#indicator').hide();
        $('#spinnerMsg').hide();
    });

    $(document).on('click', '.comment-delete', function () {
        var cmtId = $(this).attr("id");
        $("#confirmDeleteModal").attr("comment-id", cmtId);
        $(".modal-comment").text($("#comment-"+cmtId).html());
    });

    $(document).on('click', '#confirmDeleteButtonModal', function () {
        $('#indicator').show(1000);
        var cmtId = $("#confirmDeleteButtonModal").closest(".modal").attr("comment-id");
        //alert(cmtId);
        $.ajax({
            type: "POST",
            url: "{% url 'deleteComment' %}",
            data: { 'cmtId': cmtId, 'orgId':'{{organization.id}}'},
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
        success: function(response){
            //alert(response.success);
            window.location.href = '/detail/{{organization.id}}'
            },
        complete : function(response){
            //alert(response.success);
                $('#spinnerMsg').show(500);
                $('#indicator').hide(500);
            }
        });
    });
   </script>

{% endblock contentJs%}