{% extends 'general/main.html'%}
{% load static %}

{% block otherCSS %}
{% endblock otherCSS %}

{% block content %}
<section style="background: url({% static 'img/bgStarNight.png'%}) no-repeat center center; ">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card" style="margin-top: 20px; width:100%">
				<div class="text-center card-header">
					<h3>最新公告與消息</h3>
				</div>
				<div class="text-center card-body" style="color: white; text-shadow: 0 0 5px #17a2b8;">
					<div class="row">
						<div class="col-md-12">
							<!-- Pic random from https://picsum.photos/-->
							<div class="noticesNews">
								<!--news start -->
								<div class="card">
									<img class="newsImg card-img-top" alt="Card image" 
										src="https://picsum.photos/960/540?blur=2&random=1">
									<div class="card-img-overlay">
										<span class="card-createDate text-muted" style="position: absolute; bottom: 20px; right: 20px;">
											( 刊登日期：2021年5月1日 )
										</span>
										<P class="card-title" style="text-decoration: underline;">
											實習指路人的誕生
										</P>
										<p class="card-text" >
											總是經驗這一次又一次的不公平，<br/>
											那些無理的要求，那些不尊重的言語<br/>
											我們受夠了！我們要把想法說出來！<br/>
											我們不是一個人在面對，我們都是互相扶持的伙伴！<br/>
											讓大家一同點起明燈，照亮前路<br/>
											為了自己，為了身邊的伙伴，未來師弟師妹們！<br/>
											是時候站起來，對抗那些不公平的對待！！<br/>
										</p>
									</div>
								</div>
								<!--news end -->

								<div class="card">
									<img class="newsImg card-img-top" alt="Card image" 
										src="https://picsum.photos/960/540?blur=2&random=2">
									<div class="card-img-overlay">
										<span class="card-createDate text-muted" style="position: absolute; bottom: 20px; right: 20px;">
											( 刊登日期：2021年5月2日 )
										</span>
										<P class="card-title" style="text-decoration: underline;">
											實習指路人的誕生
										</P>
										<p class="card-text" >
											總是經驗這一次又一次的不公平，<br/>
											那些無理的要求，那些不尊重的言語<br/>
											我們受夠了！我們要把想法說出來！<br/>
											我們不是一個人在面對，我們都是互相扶持的伙伴！<br/>
											讓大家一同點起明燈，照亮前路<br/>
											為了自己，為了身邊的伙伴，未來師弟師妹們！<br/>
											是時候站起來，對抗那些不公平的對待！！<br/>
										</p>
									</div>
								</div>
								<div class="card">
									<img class="newsImg card-img-top" alt="Card image" 
										src="https://picsum.photos/960/540?blur=2&random=3">
									<div class="card-img-overlay">
										<span class="card-createDate text-muted" style="position: absolute; bottom: 20px; right: 20px;">
											( 刊登日期：2021年5月3日 )
										</span>
										<P class="card-title" style="text-decoration: underline;">
											實習指路人的誕生
										</P>
										<p class="card-text" >
											總是經驗這一次又一次的不公平，<br/>
											那些無理的要求，那些不尊重的言語<br/>
											我們受夠了！我們要把想法說出來！<br/>
											我們不是一個人在面對，我們都是互相扶持的伙伴！<br/>
											讓大家一同點起明燈，照亮前路<br/>
											為了自己，為了身邊的伙伴，未來師弟師妹們！<br/>
											是時候站起來，對抗那些不公平的對待！！<br/>
										</p>
									</div>
								</div>
								<div class="card">
									<img class="newsImg card-img-top" alt="Card image" 
										src="https://picsum.photos/960/540?blur=2&random=4">
									<div class="card-img-overlay">
										<span class="card-createDate text-muted" style="position: absolute; bottom: 20px; right: 20px;">
											( 刊登日期：2021年5月4日 )
										</span>
										<P class="card-title" style="text-decoration: underline;">
											實習指路人的誕生
										</P>
										<p class="card-text" >
											總是經驗這一次又一次的不公平，<br/>
											那些無理的要求，那些不尊重的言語<br/>
											我們受夠了！我們要把想法說出來！<br/>
											我們不是一個人在面對，我們都是互相扶持的伙伴！<br/>
											讓大家一同點起明燈，照亮前路<br/>
											為了自己，為了身邊的伙伴，未來師弟師妹們！<br/>
											是時候站起來，對抗那些不公平的對待！！<br/>
										</p>
									</div>
								</div>
								<div class="card">
									<img class="newsImg card-img-top" alt="Card image" 
										src="https://picsum.photos/960/540?blur=2&random=5">
									<div class="card-img-overlay">
										<span class="card-createDate text-muted" style="position: absolute; bottom: 20px; right: 20px;">
											( 刊登日期：2021年5月5日 )
										</span>
										<P class="card-title" style="text-decoration: underline;">
											實習指路人的誕生
										</P>
										<p class="card-text" >
											總是經驗這一次又一次的不公平，<br/>
											那些無理的要求，那些不尊重的言語<br/>
											我們受夠了！我們要把想法說出來！<br/>
											我們不是一個人在面對，我們都是互相扶持的伙伴！<br/>
											讓大家一同點起明燈，照亮前路<br/>
											為了自己，為了身邊的伙伴，未來師弟師妹們！<br/>
											是時候站起來，對抗那些不公平的對待！！<br/>
										</p>
									</div>
								</div>
								<div class="card">
									<img class="newsImg card-img-top" alt="Card image" 
										src="https://picsum.photos/960/540?blur=2&random=6">
									<div class="card-img-overlay">
										<span class="card-createDate text-muted" style="position: absolute; bottom: 20px; right: 20px;">
											( 刊登日期：2021年5月6日 )
										</span>
										<P class="card-title" style="text-decoration: underline;">
											實習指路人的誕生
										</P>
										<p class="card-text" >
											總是經驗這一次又一次的不公平，<br/>
											那些無理的要求，那些不尊重的言語<br/>
											我們受夠了！我們要把想法說出來！<br/>
											我們不是一個人在面對，我們都是互相扶持的伙伴！<br/>
											讓大家一同點起明燈，照亮前路<br/>
											為了自己，為了身邊的伙伴，未來師弟師妹們！<br/>
											是時候站起來，對抗那些不公平的對待！！<br/>
										</p>
									</div>
								</div>

							</div>
							<span style="position: absolute; z-index: 20; bottom: 5em; left:48% ">
								<button id="noticesNewsPlayPause" type="button" class="btn btn-outline-info active" data-toggle="button" aria-pressed="true" autocomplete="off" title="播放/暫停">
									<i class="fas fa-pause"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
				{% if not request.user.is_authenticated %}
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						已經加入嗎？<a href="{% url 'login'%}">點我登入</a>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block contentJs%}
<script>
	$("#registerForm input").addClass("form-control");
	$(document).ready(function(){
		$('.noticesNews').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			dots: true,
			prevArrow: false,
			nextArrow: false,
			autoplay: true,
			autoplaySpeed: 1000, //DELAY BEFORE NEXT SLIDE IN MILISECONDS
			speed: 800 //SPEED OF THE SLIDER CHANGE
		});
	});
	$('#noticesNewsPlayPause').click(function() {
		let isPlay = $(this).attr("aria-pressed");
		if (isPlay == "true"){
			$('.noticesNews').slick('slickPause');
			$("#noticesNewsPlayPause i:first-child").removeClass("fa-pause").addClass("fa-play");
		}
		else{
			$('.noticesNews').slick('slickPlay');
			$("#noticesNewsPlayPause i:first-child").removeClass("fa-play").addClass("fa-pause");
		}
	});
	
</script>
{% endblock%}
INIT IS PLAY = true
