{% load i18n %}{% autoescape off %}
<div style="margin:0;padding:0" bgcolor="#FFFFFF">
    <table width="100%" height="100%" style="min-width:348px" border="0" cellspacing="0" cellpadding="0" lang="en">
        <tbody>
            <tr height="32" style="height:32px">
                <td></td>
            </tr>
            <tr align="center">
                <td>
                    <table border="0" cellspacing="0" cellpadding="0"
                        style="padding-bottom:20px;max-width:516px;min-width:220px">
                        <tbody>
                            <tr>
                                <td width="8" style="width:8px"></td>
                                <td>
                                    <div style="border-radius:8px;padding:40px 20px; border: 10px solid; border-image-slice: 1;border-width: 5px;border-image-source: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);"
                                        align="center">
                                        <div
                                            style="font-family:\'Google Sans\',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;padding-bottom:32px;text-align:center;word-break:break-word">
                                            <div style="font-size:24px">
                                                <table style="font-family:\'Google Sans\',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:24px;line-height:28px;text-align:center;width:100%">
                                                    <tbody> 
														<tr>
															<td style="text-align: center;">
																<img
																	src="https://upload.wikimedia.org/wikipedia/commons/d/d5/InternshipMatters_Logo.png"
																	width="74" height="24" aria-hidden="true"
																	style="margin-bottom:16px;background-color: #17a2b8;width: auto;height: 2em;border-radius: 0.25em;padding: 10px;"
																	alt="Google" class="CToWUd">
															</td>
														</tr>
                                                        <tr>
                                                            <td style="font-family:inherit; text-align: center;">  
																{{ user.get_username }}  你好，<br/>我們已經收到你「重設密碼」的需求！
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <table align="center" style="margin-top:8px">
                                                <tbody>
                                                    <tr style="line-height:normal">
                                                        <td><a
                                                                style="font-family:\'Google Sans\',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.87);font-size:14px;line-height:20px">{{ site_name }}
                                                            </a> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div
                                            style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px;text-align:left">
                                            <table
                                                style="font-size:14px;letter-spacing:0.2;line-height:20px;text-align:center">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding-bottom:24px;text-align:center"> 請點擊以下按鈕進行密碼重新設定：
                                                            <div style="height:13px"></div>
                                                            <button style="background-color: #17a2b8; border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;" 
															onClick="resetPassword()">
															<a style="text-decoration: underline;color: white;" href="{% block reset_link %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}">重設密碼</a>
															</button>
                                                            <div style="height:13px"></div> 再一次！感謝伙伴你使用這個系統，讓我們一起幫助更多有需要的人～
                                                            <div style="height:13px"></div> 「實習指路人 」團隊 敬啟
														</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div style="text-align:center">
                                        <div
                                            style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);font-size:11px;line-height:18px;padding-top:12px;text-align:center">
                                            <div>這是系統發出的通知，請不要回覆此信件</div>
                                            <div style="direction:ltr">© Internship Matters! 2021. All Rights Reserved.
                                                <a href="mailto:internshipsmatters@gmail.com"
                                                    style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);font-size:11px;line-height:18px;padding-top:12px;text-align:center">internshipsmatters@gmail.com
                                                </a></div>
                                        </div>
                                    </div>
                                </td>
                                <td width="8" style="width:8px"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr height="32" style="height:32px">
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endautoescape %}
