{% extends 'general/main.html'%}
{% load static %}

{% block otherCSS %}
{% endblock otherCSS %}

{% block content %}
<section class="loginOrSettingSecton" style="background:linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url({% static 'img/bgStarNight.png'%}) no-repeat center center;">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>小伙伴註冊</h3>
				<!--div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div-->
			</div>
			<div class="card-body">
                <form id="registerForm" action="" method="post">
                    {% csrf_token %}
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
                        {{form.username}}
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
                        {{form.email}}
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
                        {{form.password1}}
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
                        {{form.password2}}
					</div>
					<div class="row align-items-center" style="color: RED;">
						{{form.errors}}
					</div>
					{% for msg in messages %}
						{% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
							<div id='{{msg}}' class="alert alert-success alert-dismissible fade show">
						{% elif msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
							<div id='{{msg}}' class="alert alert-warning   alert-dismissible fade show">
						{% endif %}
							<strong>{{msg}}</strong>
							<button type="button" class="close" data-dismiss="alert">&times;</button>
						</div>
					{% endfor %}
					<div class="form-group">
						<input type="submit" value="確認" class="btn btn-info register_btn">
					</div>
				</form>
			</div>
			

			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					已經加入嗎？<a href="{% url 'login'%}" >點我登入</a>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}
{% block contentJs%}
<script>
    $("#registerForm input").addClass("form-control");
</script>
{% endblock%}