{% extends 'general/main.html'%}
{% load static %}

{% block otherCSS %}
    <link href="{% static '/css/register.css' %}" rel="stylesheet">
{% endblock otherCSS %}


{% block content %}
<section class="loginSecton">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>重新設定密碼</h3>
			</div>
			<div class="card-body">
                <form id="resetForm" action="" method="post">
                    {% csrf_token %}
					<div id='{{msg}}' class="alert alert-warning  fade show">
							請注意！此電鄱雖然<strong>用戶註冊時</strong>的電鄱地址，否則將無法收取「重設密碼通知信」。
						</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
                        <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="請填入註冊時的電郵地址" >
					</div>
					{% for msg in messages %}
						{% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
							<div id='{{msg}}' class="alert alert-success alert-dismissible fade show">
						{% elif msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
							<div id='{{msg}}' class="alert alert-warning   alert-dismissible fade show">
						{% endif %}
							<strong>{{msg}}</strong>
							<button type="button" class="close" data-dismiss="alert">&times;</button>
						</div>
					{% endfor %}
					<div class="form-group">
						<input type="submit" value="確認" class="btn btn-info login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					還沒加入嗎？<a href="{% url 'register'%}" >點我加入</a>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}
{% block contentJs%}
<script>
    $("#resetForm input").addClass("form-control");
</script>
{% endblock%}