{% extends 'general/main.html'%}
{% load static %}

{% block otherCSS %}
    <link href="{% static '/css/register.css' %}" rel="stylesheet">
{% endblock otherCSS %}


{% block content %}
<section class="loginOrSettingSecton" style="background: url({% static 'img/bgStarNight.png'%}) no-repeat center center;">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>重設信件已寄出！</h3>
			</div>
			<div class="card-body" style="color: white">
                <P>如果你的電鄱地均無誤，系統已經寄送重設鄱件到你的信箱！</P>
				<p>如果在「收件匣」中找不到你的信件，因為可能誤認為垃圾鄱件，再麻煩你到「垃圾鄱件」找找看啊</p>
				<p>如果你確認後仍未收到鄱件，請填下你的當入名稱並發信至: <a  style="color: #17a2b8 " href="mailto: kengame121101@gmail.com">kengame121101@gmail.com</a>這個信島，我們會盡快跟你聯絡，謝謝。</p>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					還沒加入嗎？<a href="{% url 'register'%}" >點我加入</a>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}
{% block contentJs%}
<script>
    $("#resetForm input").addClass("form-control");
</script>
{% endblock%}