{% extends 'general/main.html'%}
{% load static %}

{% block otherCSS %}
    <link href="{% static '/css/register.css' %}" rel="stylesheet">
{% endblock otherCSS %}


{% block content %}
<section class="loginOrSettingSecton" style="background: url({% static 'img/bgStarNight.png'%}) no-repeat center center;">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>重新設定密碼</h3>
			</div>
			<div class="card-body">
				{% if validlink %}
                <form id="resetForm" method="post" style="color:white;">
                    {% csrf_token %}
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
                        <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"  placeholder="輸入新的密碼">
                    </div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
                        <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="確認密碼">
                    </div>
					{% if form.errors %}
					<div class="alert alert-danger alert-dismissible fade show">
						<strong>密碼不相符，請檢查後再試試。</strong>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>
					{% endif %}

					<input type="submit" value="確認" class="btn btn-info login_btn">
				</form>
				{% else %}
				<div class="alert alert-danger alert-dismissible fade show">
					<strong>重設密碼的連結已經過期，如有需要，請到<a style="color:#17a2b8" href="{% url 'reset_password' %}">「忘記密碼」</a>重發密碼重設</strong>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
				{% endif %}
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					還沒加入嗎？<a href="{% url 'register'%}" >點我加入</a>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}
{% block contentJs%}
<script>
    $("#resetForm input").addClass("form-control");
</script>
{% endblock%}