{% extends 'general/main.html'%}
{% load static %}

{% block otherCSS %}
    <link href="{% static '/css/register.css' %}" rel="stylesheet">
{% endblock otherCSS %}

{% block content %}
<style>
	.profilePic{
		width:100PX;
		height:100PX;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>
<section class="registerSection">
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>修改資訊</h3>
			</div>
			<div class="card-body">
                <form id="registerForm" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
					<div class="input-group form-group">
						<label class="" style="margin:auto;" for="id_profilePic">
							<img id='output' class="uploadImage profilePic" src='{{ internPerson.profilePic.url }}'>
							<i style="margin: auto;left: 46%;color: grey;bottom: -5%;z-index: 2;position: absolute;" class="fas fa-edit fa-2x uploadImageIcon"></i>
						</label>
						<input style="display: none;" type="file" name="profilePic" accept="image/*" placeholder="上傳頭像照片" id="id_profilePic" class="form-control"
						onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" >
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
                        {{form.name}}
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
                        {{form.email}}
					</div>
					{% for msg in messages %}
						{% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
							<div id='{{msg}}' class="alert alert-success alert-dismissible fade show">
						{% elif msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
							<div id='{{msg}}' class="alert alert-warning   alert-dismissible fade show">
						{% endif %}
							<strong>{{msg}}</strong>
							<button type="button" class="close" data-dismiss="alert">&times;</button>
						</div>
					{% endfor %}
					<div class="form-group">
						<input type="submit" value="確認" class="btn btn-info register_btn">
					</div>
				</form>
			</div>
			

			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					已經加入嗎？<a href="{% url 'login'%}" >點我登入</a>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}
{% block contentJs%}
<script>
    $("#registerForm input").addClass("form-control");
</script>
{% endblock%}