{% load static %}

<header class="masthead text-white text-center" style="background: url({% static 'img/bgStarNight.png'%}) no-repeat center center;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 id="bannerTitle" class="mb-5">Internship Matters! 
          <br/>
          Share & Help Others
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
        <form id="searchForm" method="post" action="/result/">{% csrf_token %}
          {{ form }}
          <div class="form-row" >
            <div class="btn-group col-md-10 col-lg-10 col-xl-10 mb-5 mb-md-0">
              <input name="bannerSearch" id="bannerSearch" type="search" class="form-control form-control-lg" placeholder="機構名稱 / 類型">
              </div>
              <!--Search Button -->
              <div class="btn-group col-md-2 col-lg-2 col-xl-2 mb-2 mb-md-0">
                <button type="submit" class="btn btn-lg btn-info">Search</button>
              </div>
            </div>
            
            <div class="form-row" style="padding-top: 10px;">
              <!--地區-->
              <select id="location_list" name="location_list" data-style="btn-outline-info" 
                class="selectpicker col-md-5 col-lg-5 col-xl-6 mb-2 mb-md-0" aria-label="全部地區" data-live-search="true">
                <option value='' selected>全部地區</option>
                <option data-divider="true"></option>
                <option value='臺北市'>臺北市</option>
                <option value='基隆市'>基隆市</option>
                <option value='新北市'>新北市</option>
                <option value='宜蘭縣'>宜蘭縣</option>
                <option value='新竹市'>新竹市</option>
                <option value='新竹縣'>新竹縣</option>
                <option value='桃園市'>桃園市</option>
                <option value='苗栗縣'>苗栗縣</option>
                <option value='臺中市'>臺中市</option>
                <option value='雲林縣'>雲林縣</option>
                <option value='臺南市'>臺南市</option>
                <option value='高雄市'>高雄市</option>
                <option value='屏東縣'>屏東縣</option>
                <option value='臺東縣'>臺東縣</option>
                <option value='花蓮縣'>花蓮縣</option>
                <option value='彰化縣'>彰化縣</option>
              </select>
              <!--機構類型-->
              <select id="organizationType_list" name="organizationType_list" data-style="btn-outline-info" 
                class="selectpicker col-md-5 col-lg-5 col-xl-6 mb-2 mb-md-0" aria-label="全部機構類型" data-live-search="true">
                <option value=''selected>全部機構類型</option>
                <option data-divider="true"></option>
                <option value="大專校院諮商(輔導)中心(處、室、組)">大專校院諮商(輔導)中心(處、室、組)</option>
                <option value="心理諮商所">心理諮商所</option>
                <option value="公、私立高中、職、中小學輔導室（處）、教育局處學生諮商中心">公、私立高中、職、中小學輔導室（處）、教育局處學生諮商中心</option>
                <option value="醫療機構">醫療機構</option>
                <option value="社區性心理衛生中心">社區性心理衛生中心</option>
                <option value="政府及事業單位設有心理治療或諮商業務之單位">政府及事業單位設有心理治療或諮商業務之單位</option>
                <option value="財團法人基金會">財團法人基金會</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
