{% load static %}

<section class="testimonials text-center bg_grad1">
	<div class="container">
		<h2 class="mb-5">想對你說的話...</h2>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-xl-12 mx-auto">
				<form>
					<div class="form-row">
						<div class="col-md-4 col-lg-4 col-xl-4 mb-2 mb-md-0">
							<div class="ih-item circle colored effect10 bottom_to_top">
								<a href="#">
									<div class="img">
										<img src="{% static '/img/YODA1.jpg'%}" alt="img"></div>
										<div class="info">
											<h3>沒有期待，沒有傷害</h3>
											<p>彼此尊重，才有未來</p>
										</div>
									</a>
								</div>
							</div>
              <div class="col-md-4 col-lg-4 col-xl-4 mb-2 mb-md-0">
								<div class="ih-item circle colored effect10 bottom_to_top">
									<a href="#">
										<div class="img">
											<img src="{% static '/img/YODA2.gif'%}" alt="img"></div>
											<div class="info">
												<h3>充滿好奇</h3>
												<p>挑戰自我，勇敢往前！</p>
											</div>
										</a>
									</div>
								</div>
                <div class="col-md-4 col-lg-4 col-xl-4 mb-2 mb-md-0">
									<div class="ih-item circle colored effect10 bottom_to_top">
										<a href="#">
											<div class="img">
												<img src="{% static '/img/YODA3.jpg'%}" alt="img"></div>
												<div class="info">
													<h3>累了吧？</h3>
													<p>生活不如簡單點</p>
												</div>
											</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		