{% load static %}
<table class="table comments">
    <thead>
        <tr style="background-color: #343a40; color:white">
            <th >實習類型</th>
            <th>伙伴稱呼</th>
            <th>標籤</th>
            <th>心得分享</th>
            <th>創立日期</th>
            <th>評分</th>
        </tr>
    </thead>
    <tbody>
        {% for item in comments %}
        <tr>
            <td >{{ item.internshipType }}</td>
            <td>{{ item.intern.name }}</td>
            <td>{{ item.hashTags_names }}</td>
            <td>{{ item.comments }}</td>
            <td>{{ item.createDate | date:"Y-m-d H:i" }}</td>
            <td>{{ item.score }}</td>
        </tr>
        {% endfor%}
    </tbody>
</table>
		