{% load static %}
{% include './deleteModal.html'%}

<div id="commentsSection" class="table-responsive" style="margin-left:1%; position: relative; border-radius: 0em 1em 0em 0em;max-height: 500px;overflow: auto;">
    <table class="table comments">
        <thead>
            <tr class="comments-thead" style="background-color: #343a40; color:white">
                <th>伙伴稱呼</th>
                <th>評分</th>
                <th colspan="3">心得分享<span style="float: right;"><span style="color:#17a2b8; text-decoration: underline;">{{comments_count}}</span> 則心得</span></th>
            </tr>
        </thead>
        <tbody>
            {% for item in comments %}
            <tr id="comment-row-{{item.id}}">
                <td style="max-width: 50px;">
                    {% if item.intern.profilePic %}
                    <img style="width:30px; height: 30px; border-radius: 50%;" src='{{ item.intern.profilePic.url }}'/>
                    {% endif %}
                    {{ item.intern.name }}
                </td>
                <td style="max-width: 50px;">{{ item.score }}</td>
                <td style="max-width: 400px;" id="comment-{{item.id}}">
                    <div>
                        <div id="outer_{{item.id}}" class="outer_comments" style="display:flex;flex-direction: row;">
                            <a style="max-height: 40px; margin:10px;" class="comment-more btn btn-outline-info" id="{{item.id}}">
                                <i class="fas fa-info-circle recent-link">
                                    <!--span id="hovercard_{{item.id}}" class="hovercard">
                                        <div class="tooltiptext">
                                            
                                        </div>
                                    </span-->
                                </i>
                            </a>
                            <div style="margin:10px;" id="comment-general_{{item.id}}" class="comment-general comment-comments-{{item.id}}">
                                <p >{{ item.comments }}</p>
                            </div>
                            <div style="margin:10px;" id="comment-info_{{item.id}}" class="comment-info comment-comments-{{item.id}}">
                                <p >實習類型: {{ item.internshipType }}</p>
                                <div class="tags" style="margin-bottom: 0.5em; text-align: center;">
                                    {% for hashTag in item.hashTags.all %}
                                      <a href="javascript:;" style="height: 100%;font-size: inherit;">{{hashTag.name}}</a>
                                    {% endfor%}
                                </div>
                                <p >創立日期: {{ item.createDate | date:"Y-m-d H:i" }}</p>
                            </div>
                        </div>
                    </div>
                </td>
                <td >
                    {% if not request.user.is_anonymous and request.user == item.intern.user %}
                    <a class="comment-edit btn btn-outline-secondary" title="修改分享" href="{% url 'updateComment' item.id %}">
                        <i class="far fa-edit"></i>
                    </a>
                    {% endif %}
                </td>
                <td >
                    {% if not request.user.is_anonymous and request.user == item.intern.user %}
                    <a class="comment-delete btn btn-outline-danger" title="刪除分享" data-toggle="modal" data-target="#confirmDeleteModal" id="{{item.id}}">
                        <i class="far fa-trash-alt"></i>
                    </a>
                    <!--a class="btn btn-danger" onclick="deleteComment('{{item.id}}')">刪除</a-->
                    {% endif %}
                </td>

            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
<div id="commentsSection" class="table-responsive" style="margin-left:1%; position: relative; border-radius: 0em 1em 0em 0em;">
    <div class="shareComment">
        <a style="width: 100%;" class="shareCommentBtn btn btn-info" href="{% url 'createComment' organization.id %}">我想分享</a>
    </div>
</div>
