{% load static %}
<!--div class="card" style="width: 101%; border-radius: 0em 0em 1em 1em">
  # img src="..." class="card-img-top" alt="...">
    <div class="card-body" style="color:white">
      <p class="card-text">實習內容：{{organizationDetailObj.internshipContent}}</p>
      <p class="card-text">諮商心理師提供之督導：{{organizationDetailObj.supervise}}</p>
      <p class="card-text">團體督導或研習：{{organizationDetailObj.groupSupervise}}</p>
    </div>
    <ul style="display: block;" class="list-group list-group-flush">

      <div class="card" style="float: left; color:white; width: 30%; margin: 1em; border-radius: 0.5em 0.5em 0.5em 0.5em">
        <div class="card-body">實習津貼：{{ organizationDetailObj.subsidy }}</li>
        </div>
      </div>

      <div class="card" style="float: left; color:white; width: 30%; margin: 1em; border-radius: 0.5em 0.5em 0.5em 0.5em">
        <div class="card-body">個別督導：{{ organizationDetailObj.personalSupervise }}</li>
        </div>
      </div>

      <div class="card" style="float: left; color:white; width: 30%; margin: 1em; border-radius: 0.5em 0.5em 0.5em 0.5em">
        <div class="card-body">平均每週接案人數(全職實習生)：{{ organizationDetailObj.numbersOfCases }}</li>
        </div>
      </div>

      <div class="card" style="float: left; color:white; width: 30%; margin: 1em; border-radius: 0.5em 0.5em 0.5em 0.5em">
        <div class="card-body">辦公室（桌椅）：{{ organizationDetailObj.facilities }}</li>
        </div>
      </div>

      <div class="card" style="float: left; color:white; width: 30%; margin: 1em; border-radius: 0.5em 0.5em 0.5em 0.5em">
        <div class="card-body">個諮室/團輔室：：{{ organizationDetailObj.consultingRoom }}/{{ organizationDetailObj.consultingRoomForGroup }}</li>
        </div>
      </div>

      <div class="card" style="float: left; color:white; width: 30%; margin: 1em; border-radius: 0.5em 0.5em 0.5em 0.5em">
        <div class="card-body">實習單位主管/承辦人：：{{ organizationDetailObj.superviser }}/{{ organizationDetailObj.officer }}</li>
        </div>
      </div>
      <div class="card" style="float: left; color:white; width: 90%; margin: 1em; border-radius: 0.5em 0.5em 0.5em 0.5em">
        <div class="card-body">專任心理師人數：{{ organizationDetailObj.numbersOffullTime }}</li>
        </div>
      </div>
    </ul>
    <div class="card-body">
      <div class="col-lg-12 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item" style="color:white">
            地址：<a href="http://maps.google.com/?q={{organizationDetailObj.address}}" class="card-link" target="_blank">{{ organizationDetailObj.address }}</a>
          </li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"style="color:white">
            電郵地址：<a href="mailto:{{organizationDetailObj.email}}" class="card-link">{{ organizationDetailObj.email }}</a>
          </li>
          <li class="list-inline-item">⋅</li>
          <li class="list-inline-item"style="color:white">
            聯絡電話：<a href="tel:{{organizationDetailObj.telephone}}" class="card-link">{{ organizationDetailObj.telephone }}</a>
          </li>
        </ul>
        <p class="small mb-4 mb-lg-0" style="color: darkgray;">※資料來源：台灣輔導與諮商學會</p>
      </div>
    </div>
  </div-->
  <!--section class="features-icons text-center" style="background-color:azure ;width: 70%;margin: auto;border-radius: 1em;padding-top:2em;padding-bottom: 2em;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>Fully Responsive</h3>
          <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>Bootstrap 4 Ready</h3>
          <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Easy to Use</h3>
          <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
        </div>
      </div>
    </div>
  </div>
</section-->